*.DS_Store


~$*
*/~$*

*.RData
*/*.RData
*/*.tmp
*.Rhistory
/test
/idea
/

/Stats101_2022
2022spring_PPT/
.Rproj.user

*A卷*.doc
*B卷*.doc
*A卷*.docx
*B卷*.docx
*_A_*.docx
*_B_*.docx
教学周历*.doc
*成绩*.*
*质量*.*

*.zip